.live-text-view {
  margin-top: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.live-text-view .live-text-col {
  width: calc(100% / 3);
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px black;
}
