.director-view-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15% 65% 20%;
  grid-column-gap: 15px;
  grid-row-gap: 1px;
  margin: auto;
  height: 900px;
  width: 900px;
}

.grid-item {
  align-self: stretch;
  justify-self: stretch;
}


/* Header */

.grid-header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: auto;
}

.grid-header h1 {
  margin-top: 45px;
}


/* Left-hand side panel and subgrid */

.grid-leftSide {
  grid-row-start: 2;
  grid-row-end: auto;
}

.subgrid-left {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}


/* Left hans side buttons */

.grid-sub-item.btn {
  background: #dde;
  font-size: 25px;
  padding-top: 20px;
  letter-spacing: 2px;
}

.grid-sub-item.btn:hover {
  background: #ccd;
  cursor: pointer;
}


/* Stage view */

.grid-sub-item.stage-view {
  background: white;
}

.grid-sub-item.stage-view p {
  padding: 0;
  margin-top: 5px;
}

.grid-sub-item.stage-view h3 {
  font-size: 40px;
  margin-top: 60px;
}


/* Right-hand side of the grid */

.grid-rightSide {
  grid-row-start: 2;
  grid-row-end: auto;
}

.subgrid-right {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 5fr;
  grid-gap: 5px;
}


/* List of connected clients on the right */

.connected-list {
  background: white;
  padding: 5px;
  text-align: left;
}

.connected-list p {
  margin: 0px;
}


/* Word zoom tool on the right */

.zoom-tool {
  background: white;
}