/*

  Colors in palette:

  rgb(0,0,0)
  rgb(19,13,34)
  rgb(44,24,64)
  rgb(72,34,89)

  rgb(103,44,106)
  rgb(133,56,117)
  rgb(161,69,123)
  rgb(183,85,126)

  rgb(202,103,129)
  rgb(214,125,131)
  rgb(223,148,138)
  rgb(228,172,149)

  rgb(231,196,166)
  rgb(236,219,191)
  rgb(242,238,220)
  rgb(255,255,255)

*/

body {
  overflow: hidden;
}

.live-text-view {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(19,13,34);
}

.live-text-view .live-text-col {
  width: calc(100% / 3);
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px black;
}

.sentences-container {
  margin: 0.5rem;
  width: auto;
}

.sentence-span {
  color: #eeffff;
  line-height: 1.4;
  animation: sentenceEnter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s
    forwards;
}

@keyframes sentenceEnter {
  from {
    background-color: rgba(255, 255, 255, 1);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.sentence-letter {
  display: inline-block;
}
