body {
  overflow: hidden;
}

.live-text-view {
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #292d3e;
}

.live-text-view .live-text-col {
  width: calc(100% / 3);
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px black;
}

.sentences-container {
  margin: 0 auto;
  width: auto;
  margin: 2rem;
}

.sentence-span {
  color: #eeffff;
  line-height: 1.4;
  animation: sentenceEnter 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s
    forwards;
}

@keyframes sentenceEnter {
  from {
    background-color: rgba(255, 255, 255, 1);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

.sentence-letter {
  display: block !important;
  animation: letterEnter 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0;
}

@keyframes letterEnter {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
