body {
  overflow: hidden;
}

.live-text-view {
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #292d3e;
}

.live-text-view .live-text-col {
  width: calc(100% / 3);
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px black;
}

.sentences-container {
  margin: 0 auto;
}

.sentence-span {
  color: #eeffff;
  /*font-weight: bold;*/
  /*font-size: 8pt;*/
  display: inline-block;
  line-height: 1.4;
  /* transform-origin: bottom; */
}

.sentence-letter {
  display: inline-block;
}
